.card {
  width: 200px;
  padding: 24px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__img {
  width: 160px;
  height: 134px;
  align-self: center;
  object-fit: contain;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.card__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #060b35;
}

.card__code {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__reviews {
  font-size: 12px;
  line-height: 16px;
  color: #060b35;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.card__comment {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #616070;
}

.card__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #060b35;
}

.card .button {
  width: 166px;
  height: 40px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00acdc;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #00acdc;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card .button:hover {
  background-color: #fff;
  color: #00acdc;
}

.stars {
  display: flex;
  gap: 4px;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.stars--1 .stars__star:nth-child(-n + 1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('../images/star-active.svg');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #fff;
  color: #060b35;
}
